@page "/machinedetails/{MachineId}"


<h1 class="page-title text-center">Details for @Machine.Name
    <button class="btn btn-dark float-end" @onclick="() => GetNewData(Machine.Id)">
        <i class="fa-solid fa-temperature-arrow-down"></i>
    </button>
</h1>

<div class="ms-5">
    <h5><b>Type:</b> @Machine.MachineType.Name</h5>
    <h5><b>Location:</b> @Machine.MachineLocation.City, @Machine.MachineLocation.Country</h5>
    <h5><b>Readings:</b> @Machine.MachineData.Count</h5>
</div>

<div id=details-chart class="@(Machine.MachineData.Count == 0 ? "d-none" : "") border border-2 border-dark p-3 m-5">
    <LineChart  @ref="lineChart" TItem="ChartData" Options="@LineChartOptions"/>
</div>

@if (Machine.MachineData.Count == 0 && Machine.Id != Guid.Empty)
{
    <h4 class="ms-5 py-4">Note: more readings are required to display the chart.</h4>
}

